@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto-slab), ui-serif, Georgia, serif;
  --font-geist: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-titan: var(--font-titan-one), cursive;
}
  